<div class="contenedor">
    <div class="contenedor1">
        <div class="header">
            <h3>Mis Perfiles</h3>
        </div>
        <div class="body">
            <ul>
                <li *ngFor="let item of listPerfil; let index = index" (click)="selectPerfil(item)">{{item.perfil}}</li>
            </ul>

        </div>
        <div class="foot-center">
            <button mat-flat-button type="submit" class="boton-nuevo" (click)="nuevoPerfil()">Nuevo Perfil</button>
        </div>
        
    </div>
    
    <div class="contenedor2">
        <form [formGroup]="form" class="formPerfil">
            <div class="header">
                <h3> {{nombre_perfil}} </h3>
            </div>   
            
            <div class="body2">            
                <mat-tab-group class="body2">
                    <mat-tab>
                        <ng-template mat-tab-label>
                        <mat-icon></mat-icon>Datos Personales</ng-template><br/>
                        <div class="contenido-tab">
                        <!-- DATOS PERSONALES DEL PERFIL-->
                        <mat-form-field class="inputgroup" appearance="outline">
                            <mat-label>Tipo Documento</mat-label>
                            <mat-select (selectionChange)="selTipoDocumento()" [(value)]="selectedTD">
                                <mat-option *ngFor="let item of tipo_Documento" [value]="item.idTipoDocumento">{{item.tipoDocumento}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                
                        <mat-form-field class="inputgroup" appearance="outline">
                            <mat-label>Nº de Documento*</mat-label>                            
                            <input type="text" formControlName="numeroDocumento" autocomplete="off" matInput />
                        </mat-form-field>

                        <div *ngIf="persona_natural_b == true">
                        <mat-form-field class="inputgroup" appearance="outline">
                            <mat-label>Género</mat-label>
                            <mat-select [(value)]="selectedGenero">
                                <mat-option *ngFor="let item of tipoGenero" [value]="item.idTipoGenero">{{item.desTipoGenero}}</mat-option>
                            </mat-select>
                        </mat-form-field><br/>
                        
                        
                        <mat-form-field class="inputgroup" appearance="outline">
                            <mat-label>Nombres*</mat-label>
                            <input type="text" formControlName="nombres" autocomplete="off" matInput />
                        </mat-form-field>

                        <mat-form-field class="inputgroup" appearance="outline">
                            <mat-label>Apellido Paterno*</mat-label>
                            <input type="text" formControlName="primerApellido" autocomplete="off" matInput />
                        </mat-form-field>
                
                        <mat-form-field class="inputgroup" appearance="outline">
                            <mat-label>Apellido Materno*</mat-label>
                            <input type="text" formControlName="segundoApellido" autocomplete="off" matInput />
                        </mat-form-field><br/>

                        <mat-form-field class="inputgroup" appearance="outline">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input type="date" formControlName="fechaNacimiento" autocomplete="off" matInput />
                        </mat-form-field><br/>

                        </div>

                        <div *ngIf="persona_natural_b == false">
                            <mat-form-field class="inputgroup" appearance="outline">
                                <mat-label>Razón Social*</mat-label>
                                <input type="text" formControlName="razon" autocomplete="off" matInput />
                            </mat-form-field><br/>
                        </div>
                    </div>                        
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                        <mat-icon></mat-icon>Contacto</ng-template><br/>
                        <div class="contenido-tab">

                            <mat-form-field class="inputgroup2" appearance="outline">
                                <mat-label>Contacto*</mat-label>
                                <input type="text" formControlName="contacto" autocomplete="off" matInput />
                            </mat-form-field><br/>

                            <mat-form-field class="inputgroup" appearance="outline">
                                <mat-label>Email*</mat-label>
                                <input type="email" formControlName="correo" autocomplete="off" matInput />
                            </mat-form-field><br/>

                            <mat-form-field class="inputgroup" appearance="outline">
                                <mat-label>Celular*</mat-label>
                                <input type="number" formControlName="celular" placeholder="51 999999999" autocomplete="off" matInput />
                            </mat-form-field>
                        </div>
                    </mat-tab>

                    <!--mat-tab>
                        <ng-template mat-tab-label>
                        <mat-icon></mat-icon>Foto</ng-template><br/>
                    </mat-tab-->
                </mat-tab-group>
            </div>   

            <div class="foot-right">
                <button mat-flat-button type="submit" class="boton-graba" (click)="grabaPerfil()">Guardar Perfil</button>
            </div> 
        </form> 
    </div>
</div>