<div class="conten">

  <form [formGroup]="form" class="fomulario" (ngSubmit)="crearCompra()">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body mt-2">
            <div class="row">
              <div class="col-12">
                <div class="form-heading">
                  <h4 class="modal-content">Detalles de Compra</h4>
                </div>
              </div>
              <!-- Fecha Registro -->
              <div class="col-12 col-md-12 col-xl-2">
                <div class="form-group local-forms">
                  <label class="control-label">Fecha Registro:</label>
                  <input formControlName="fecha" class="form-control datetimepicker" type="text"
                    [matDatepicker]="picker" [ngClass]="{'is-invalid': isInvalid('fecha') && isFormSubmitted}" />
                  <mat-datepicker #picker matDatepickerFilter="DD/MM/YYYY"></mat-datepicker>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"
                    matDatepickerFilter="DD/MM/YYYY"></mat-datepicker-toggle>
                  <div *ngIf="isInvalid('fecha') && isFormSubmitted" class="invalid-feedback">
                    <div *ngIf="isRequerido('fecha')">Debe completar el campo*</div>
                  </div>
                </div>
              </div>

              <!-- Tipo Documento -->
              <div class="col-12 col-md-6 col-xl-3">
                <div class="form-group local-forms">
                  <label>Documento <span class="login-danger">*</span></label>
                  <mat-select formControlName="tipoDocumento" class="form-control select"
                    [ngClass]="{'is-invalid': isInvalid('tipoDocumento') && isFormSubmitted}" placeholder="Seleccionar">
                    <mat-option [value]="1">Factura</mat-option>
                    <mat-option [value]="0">Boleta</mat-option>
                  </mat-select>
                  <div *ngIf="isInvalid('tipoDocumento') && isFormSubmitted" class="invalid-feedback">
                    <div *ngIf="isRequerido('tipoDocumento')">Debe completar el campo*</div>
                  </div>
                </div>
              </div>
              <!-- RUC/DNI -->
              <div class="col-12 col-md-6 col-xl-2">
                <div class="form-group local-forms">
                  <label class="gen-label">RUC<span class="login-danger">*</span></label>
                  <input formControlName="ruc" class="form-control" type="text" />
                  <div *ngIf="isInvalid('ruc') && isFormSubmitted" class="invalid-feedback">
                    <div *ngIf="isRequerido('ruc')">Debe completar el campo*</div>
                  </div>
                </div>
              </div>
              <!-- Proveedor -->
              <div class="col-12 col-md-6 col-xl-4">
                <div class="form-group local-forms">
                  <label>Razon Social <span class="login-danger">*</span></label>
                  <mat-select formControlName="proveedorId" class="form-control" placeholder="Seleccione un Proveedor"
                    (selectionChange)="onChangeProveedor($event)"
                    [ngClass]="{'is-invalid': isInvalid('proveedorId') && isFormSubmitted}">
                    <input type="text" class="form-control buscar" autocomplete="off" #multiProveedorSearch matInput
                      placeholder="Ingrese nombre del Proveedor" (input)="buscarProveedores()">
                    <mat-option value="" class="d-none"></mat-option>
                    <mat-option *ngFor="let proveedor of proveedoresParaMostrar()" [value]="proveedor.idProveedor">
                      {{proveedor.nombre}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="isInvalid('proveedorId') && isFormSubmitted" class="invalid-feedback">
                    <div *ngIf="isRequerido('proveedorId')">Debe completar el campo*</div>
                  </div>
                </div>
              </div>
              <!-- Tipo Compra -->
              <div class="col-12 col-md-6 col-xl-2">
                <div class="form-group local-forms">
                  <label>Tipo Compra<span class="login-danger">*</span></label>
                  <mat-select formControlName="tipoCompra" class="form-control select"
                    [ngClass]="{'is-invalid': isInvalid('tipoCompra')&& isFormSubmitted}"
                   >
                    <mat-option *ngFor="let data of tipoPago_LISTA" [value]="data.tipoPagoId">
                      {{data.descripcion}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="isInvalid('tipoCompra') && isFormSubmitted" class="invalid-feedback">
                    <div *ngIf="isRequerido('tipoCompra')">Debe completar el campo*</div>
                  </div>
                </div>

              </div>
              <div class="row">
                <!-- Observacion -->
                <div class="col-12 col-md-12 col-xl-6">
                  <div class="form-group local-forms">
                    <label class="gen-label">Observacion<span class="login-danger">*</span></label>
                    <input formControlName="observacion" class="form-control" type="text" />
                    <div *ngIf="isInvalid('observacion') && isFormSubmitted" class="invalid-feedback">
                      <div *ngIf="isRequerido('observacion')">Debe completar el campo*</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- inicio cargar items -->

              <div class="card-body">
                <div class="table-responsive"
                  [ngClass]="{'is-invalid': isInvalidTablet(dataProductoTable.length) && isFormSubmitted}">
                  <table id="TableComprasProductos" class="table editable-table table-bordered table-striped m-b-0"
                    style="cursor: pointer;">

                    <thead>
                      <tr>
                        <th colspan="8">
                          <button (click)="agregarProductoCompras()" type="button"
                            class="btn btn-primary submit-form me-2" id="ComprasAgregarProductos"><i
                              class="fa fa-plus"></i>
                            Agregar</button>
                        </th>
                      </tr>
                      <tr>
                        <th></th>
                        <th style="width: 10%;">Nombre</th>
                        <th style="width: 10%;">Cantidad</th>
                        <th style="width: 10%;">Valor Venta</th>
                        <th style="width: 10%;">IGV</th>
                        <th style="width: 10%;">P. Unit</th>
                        <th>Sub Total</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody id="ComprasBodyProducto">
                      <tr *ngFor="let dataProducto of dataProductoTable; let item1 = index">
                        <td></td>
                        <td>{{dataProducto.nombre}}</td>
                        <td>{{dataProducto.cantidad}}</td>
                        <td><input type="text" [(ngModel)]="dataProducto.valorVenta"
                            [ngModelOptions]="{standalone: true}" class="form-control"></td>
                        <td>{{dataProducto.igv}}</td>
                        <td><input type="text" (change)="calcularSubTotal(dataProducto)"
                            [(ngModel)]="dataProducto.precioNew" [ngModelOptions]="{standalone: true}"
                            class="form-control">
                        </td>
                        <td>{{ dataProducto.subtotal }}</td>
                        <td>
                          <div class="btn btn-danger" (click)="eliminarElementoDataProducto(item1)"><i
                              class="fa-solid fa-x"></i></div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot class="">
                      <tr>
                      </tr>
                      <tr>
                        <th colspan="7" class="text-right">Total </th>
                        <th>{{this.calcularTotal()}}</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div *ngIf="isInvalidTablet(dataProductoTable.length)" class="invalid-feedback">
                  <div *ngIf="isInvalidTablet(dataProductoTable.length)">
                    Debe agregar un producto*
                  </div>
                </div>
              </div>
              <!--Buttoms-->
              <div class="col-12 col-md-7 mt-1">
                <button type="submit" class="btn btn-primary submit-form me-1">Guardar</button>
                <button type="button" class="btn btn-primary cancel-form" (click)="cancelar()">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
