.icon-user-menu{
text-align: center;
}

.icon-flech-user{
position: relative;
top: 5px;
}


mat-sidenav {
  width: 270px;
  max-width: 270px;
  background-color: white;
  color: #2864fc;
  overflow: auto;
}

.mat-sidenav.user{
flex: 1;
width: 80%;
max-width: 250px;
max-height: 150px;
right: 0
}

mat-toolbar .menu-user{ /*opciones cerra sesion */
width: 100%;
text-align: right;
padding: 0;
margin-right: 0;
cursor: pointer;
}
