<div class="card-body">

</div>
<div class="container" [class.is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar class="toolbar" style="background-color:rgb(104, 187, 255);">
    <div class="img-logo">
      <img (click)="snav.toggle()" style="width: 60%;margin-top: 15px;" src="assets/Imagenes/logo.png">
    </div>

    <div class="menu-user">
      <a (click)="verMenuUser()">{{cliente_perfil}}
        <img style="width: 30px; margin-right: 10px;"src="assets/Imagenes/ajustes.png" alt="">
      </a>
    </div>

  </mat-toolbar>

  <div *ngIf='viewUserMenu' class="container-user">
    <ul>
      <li (click)="cambiaPerfil()"> <mat-icon>https</mat-icon> Cambiar perfil</li>
      <li (click)="cambiarClave()"> <mat-icon>https</mat-icon> Cambio de contraseña</li>
      <li (click)="logout()"> <mat-icon>exit_to_app</mat-icon> Cerrar Sesión</li>
    </ul>
  </div>


  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      [opened]="true" fixedTopGap="56">

      <cdk-accordion class="accordion">
        <cdk-accordion-item [expanded]="true" [disabled]="true" *ngFor="let item of modeloModuloNew; let index = index;"
          #accordionItem="cdkAccordionItem" [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
          <!--ESTO EL MENUPRINCIPAL-->

          <div class="accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
            <app-seg-menuitem *ngIf="item.esHijo == true" [menuListaHijo]="item.listarModuloDTO"></app-seg-menuitem>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>

    </mat-sidenav>

    <mat-sidenav-content>
      <div style="background-color: #fafafa;height: 100%;" (mouseout)="ocultaMenuUser()">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
