<div class="card">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <div class="form-heading">
            <h4>Nuevo Cliente</h4>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
          <div class="form-group local-forms">
            <label>Apellido <span class="login-danger">*</span></label>
            <input formControlName="apellido" class="form-control" type="text"
              [ngClass]="{'is-invalid': isInvalid('apellido')}">
            <div *ngIf="isInvalid('apellido') || mostrarErrores" class="invalid-feedback">
              <div *ngIf="isRequerido('apellido')|| mostrarErrores">
                Debe completar el campo*
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
          <div class="form-group local-forms">
            <label>Nombre <span class="login-danger">*</span></label>
            <input formControlName="nombre" class="form-control" type="text"
              [ngClass]="{'is-invalid': isInvalid('nombre')}">
            <div *ngIf="isInvalid('nombre') || mostrarErrores" class="invalid-feedback">
              <div *ngIf="isRequerido('nombre')|| mostrarErrores">
                Debe completar el campo*
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
          <div class="form-group local-forms">
            <label>Teléfono <span class="login-danger">*</span></label>
            <input formControlName="telefono" class="form-control" type="number"
              [ngClass]="{'is-invalid': isInvalid('telefono')}">
            <div *ngIf="isInvalid('telefono') || mostrarErrores" class="invalid-feedback">
              <div *ngIf="isRequerido('telefono')|| mostrarErrores">
                Debe completar el campo*
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
          <div class="form-group local-forms">
            <label>Dirección <span class="login-danger">*</span></label>
            <input formControlName="direccion" class="form-control" type="text"
              [ngClass]="{'is-invalid': isInvalid('direccion')}">
            <div *ngIf="isInvalid('direccion') || mostrarErrores" class="invalid-feedback">
              <div *ngIf="isRequerido('direccion')|| mostrarErrores">
                Debe completar el campo*
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
          <div class="form-group local-forms">
            <label>Email <span class="login-danger">*</span></label>
            <input formControlName="email" class="form-control" type="email"
              [ngClass]="{'is-invalid': isInvalid('email')}">
            <div *ngIf="isInvalid('email') || mostrarErrores" class="invalid-feedback">
              <div *ngIf="isRequerido('email')|| mostrarErrores">
                Debe completar el campo*
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6">
          <div class="form-group local-forms">
            <label>Número de Documento <span class="login-danger">*</span></label>
            <input formControlName="documento" class="form-control" type="number"
              [ngClass]="{'is-invalid': isInvalid('documento')}">
            <div *ngIf="isInvalid('documento') || mostrarErrores" class="invalid-feedback">
              <div *ngIf="isRequerido('documento')|| mostrarErrores">
                Debe completar el campo*
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="document-submit text-end">
          <button type="submit" class="btn btn-primary submit-form me-2">Guardar</button>
          <button type="submit" class="btn btn-primary cancel-form">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
