.accordion-item-header {
  margin-top: 8px;
  display: flex;
  align-items: center; /* centra verticalmente los hijos */
  cursor: pointer;     /* opcional: cambia el cursor al pasar sobre el header */
}
.opcion-menu{
  display: flex;
}

.menu-icon {
  margin-right: 8px; /* espacio entre icono y texto */
  margin-bottom: 8px;
  width: 30px;
  height: 30px;      /* opcional, asegura tamaño consistente */
}

.texto-menu {
  font-size: 16px;   /* ajusta según necesites */
}
.accordion-item-header {
  display: flex;
  align-items: center;
  padding-left: 50px; /* en lugar de margin-left en cada icono */
}
.accordion-item-header:hover{
  background-color: rgb(159, 217, 250);
}
