<ng-container>
  <cdk-accordion class="accordion">
    <cdk-accordion-item [disabled]="true" *ngFor="let item of menuListaHijo; let index = index;"
      #accordionItem="cdkAccordionItem" [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
      <div class="accordion-item-header" (click)="selModulo(item)" (click)="accordionItem.toggle()">
        <div class="opcion-menu">
          <img class="menu-icon" src="assets/Imagenes/{{item.icono}}">
          <div class="texto-menu">
            {{ item.nombreModulo }}
          </div>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</ng-container>
