




.accordion-item-header {
  display: flex;
  /*align-content: center;
  justify-content: left;*/
}



.accordion-item-header,
.accordion-item-body {
  padding-left: 32px;
  padding-top: 3px;
  border: 1px solid white;
  background-color: white;
  height: 30px;
  align-items: center;
  margin-bottom: 3px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Roboto
}

.accordion-item-header:hover {
  cursor: pointer;
  /*background-color: #eee;*/
  color: #959aa3;
}




