a{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    text-align: center;
}
.contenedor-tabla{
    height: 400px;
    overflow:auto;
    bottom: 0;
}
.pie-pag-dialog{
    float: right;
}