<div class="contenedor-principal">
    <h3 class="titulo">Lista de Modulos</h3>

    <div class="contenedor-filtro">
        <mat-form-field appearance="standard" class="filtro" appearance="outline">
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="filtro($event)" placeholder="Búsqueda" autocomplete="off" #input>
        </mat-form-field>
        <button class="boton-filtro" [disabled]="buttonAcces.btnNuevo" mat-flat-button (click)="nuevoModulo()" >Nuevo Modulo</button>
        <button class="boton-filtro-exel" [disabled]="buttonAcces.btnEXCEL" mat-flat-button (click)="exporter.exportTable('xlsx',{fileName:'Lista de Modulos',sheet:'Data',columnWidths:[30,20,15,15,15,10]})">Exportar</button>
    </div>

    <div class="contenedor_tabla">
    <ng-container class="mat-elevation-z8">
    
        <table mat-table matTableExporter [dataSource]="dataSource" [hiddenColumns]="[6]" #exporter="matTableExporter" matSort class="listado">
                    
        <ng-container matColumnDef="nombreModuloPadre">
            <th mat-header-cell *matHeaderCellDef>Módulo de Dependencia</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreModuloPadre}} </td>
        </ng-container>        
        
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreModulo}} </td>
        </ng-container>

        <ng-container matColumnDef="codigoAcceso">
            <th mat-header-cell *matHeaderCellDef>Codigo Acceso</th>
            <td mat-cell *matCellDef="let element"> {{element.codigoAccesoDirecto}} </td>
        </ng-container>        

        <ng-container matColumnDef="icono">
            <th mat-header-cell *matHeaderCellDef>Icono</th>
            <td mat-cell *matCellDef="let element"> {{element.icono}} </td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef>URL</th>
            <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroOrden">
            <th mat-header-cell *matHeaderCellDef>N° Orden</th>
            <td mat-cell *matCellDef="let element"> {{element.numeroOrden}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
            <td mat-cell *matCellDef="let element" >
                <div class="btn-aciones">                    
                    <button [disabled]="buttonAcces.btnEditar" (click)="actualizarModulo(element.idModulo)"  title="Editar" mat-flat-button><mat-icon class='edit'>create</mat-icon></button>
                    <button [disabled]="buttonAcces.btnEliminar" (click)="eliminarModulo(element.idModulo)" title="Eliminar" mat-flat-button><mat-icon class="delete">delete_sweep</mat-icon></button>
                </div>                                
            </td>
        </ng-container>

        <tr class="tabla-cabecera" mat-header-row *matHeaderRowDef="columnasMostrar"></tr>
        <tr class="tabla-cuerpo" mat-row *matRowDef="let row; columns: columnasMostrar"></tr>
        </table> 
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons aria-label="Seleccione página"></mat-paginator>
    </ng-container>
    </div>      
</div>
